body{
    text-align: center;
    padding: 2px;
    background-color: azure;
    display:block;
}

div{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    padding: 15px;
    border-radius: 20px;

    
}

button{
   margin: 10px;
   background-color: rgb(248, 241, 141);
   border-radius: 10px;
   box-shadow: 5px;
}


footer{
    margin-top: 230px;
    margin-right: 1070px;
}


h3{
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    margin: auto;

}